@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #b1c0c6;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.profile-card {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;    
}

.profile {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    background-color: #899dad;
    margin: 2rem;
    padding: 0.2rem 2rem;
    border-radius: 10px;
}

.profile img {
    border-radius: 50%;
    height: 50%;
}

#logo {
    height: 50px;
}

.data {
    display: flex;
    gap: 2rem;
}

#bio {
    padding-bottom: 1rem;
}

h1 {
    /* font-size: 2rem;
    font-weight: 400; */
    margin-bottom: 0.5rem;
}

li {
    list-style-type: none;
}

.hidden {
    display: none;
}

.not-found {
    /* color: rgb(79, 6, 6); */
    margin-top: 2rem;
}

.not-found h3 {
    font-size: 2rem;
}

#form {
    display: flex;
    align-items: center;
}

#form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    width: 26rem;
}

#form input:focus {
    border-color: #899dad;
}

#form button {
    padding: 10px;
    background-color: #899dad;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

#form button:hover {
    background-color: #899dad;
}